body{
    background-image: url("https://th.bing.com/th/id/R.e2bcc6eadd3ef85433e25e3527bb4026?rik=r7eX4gGy%2bkM1dA&riu=http%3a%2f%2fwww.hdcarwallpapers.com%2fwalls%2fporsche_drive_supercar_4k-HD.jpg&ehk=wl%2bjBBNH%2brK2UbaK%2biMisn5eDKzCTL97K%2boGuED0aRo%3d&risl=1&pid=ImgRaw&r=0");
    
}

.blogbutton{
  position: relative;
  top:50px;
}
.editbutton {
    background-color: #4bc6ff; 
    color: black;
    font-weight: bold;
    padding: 10px 20px; 
    border-radius: 9999px; 
    transition: background-color 0.2s ease; 
    position: relative;
    right:300px;
    top:30px;
}

.edit-button:hover {
    background-color: #c53030; 
}


.deletebutton {
    background-color: #f56565; 
    font-weight: bold;
    padding: 10px 20px; 
    border-radius: 9999px; 
    transition: background-color 0.2s ease; 
}

.delete-button:hover {
    background-color: #c53030; 
}
