.body{
   background-color:rgb(255, 209, 217) ;
}
.titleheading {
    color: #333; 
    font-family: Arial, sans-serif; 
    font-size: 24px; 
    margin-bottom: 10px; 
}

.title
content {
    color: #666; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 16px; 
    line-height: 1.5;
}
